@import "../abstracts/variables.scss";

button.dark-blue {
	background-color: $dark-blue;
	border-color: $dark-blue;
	color: $white;

	&:hover {
		background-color: $extra-dark-blue;
		border-color: $extra-dark-blue;
	}
}
