@import "../abstracts/variables.scss";

.text-light-blue {
    color: $light-blue;
}

.text-dark-blue {
    color: $dark-blue;
}

.text-light-grey {
    color: $light-grey;
}

.text-extra-light-grey  {
    color: $extra-light-grey;
}

.text-white  {
    color: $white;
}

.text-black  {
    color: $black;
}