{% extends "index.njk" %}

{% block content %}

{{ renderBlock('navBar') }}
{{ renderBlock('videoHeader') }}
{{ renderBlock('quickLinks') }}
{{ renderBlock('articleCards') }}
{{ renderBlock('events') }}

{% endblock %}