{% extends "index.html" %}

{% block content %}

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-6 m-4">
            <h1>Navigate to pages</h1>
            <div class="list-group list-unstyled">
                <li><a href="home.html" class="list-group-item list-group-item-action m-1">Homepagina</a></li>
                <li><a href="content.html" class="list-group-item list-group-item-action m-1">Contentpagina</a></li>
                <li><a href="overview.html" class="list-group-item list-group-item-action m-1">Overzichtspagina</a></li>
                <li><a href="team.html" class="list-group-item list-group-item-action m-1">Teampagina</a></li>
            </div>
        </div>
    </div>
</div>

{% endblock %}