{%- from "partials.njk" import renderPartial -%}

<section class="block">

    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            {{ renderPartial('footerLogo', { company: 'Company1'}) }}
            {{ renderPartial('footerLogo', { company: 'Company1'}) }}
            {{ renderPartial('footerLogo', { company: 'Company1'}) }}
            {{ renderPartial('footerLogo', { company: 'Company1'}) }}
            {{ renderPartial('footerLogo', { company: 'Company1'}) }}
            {{ renderPartial('footerLogo', { company: 'Company1'}) }}
            {{ renderPartial('footerLogo', { company: 'Company1'}) }}
            {{ renderPartial('footerLogo', { company: 'Company1'}) }}
            {{ renderPartial('footerLogo', { company: 'Company1'}) }}
            {{ renderPartial('footerLogo', { company: 'Company1'}) }}
            {{ renderPartial('footerLogo', { company: 'Company1'}) }}
            {{ renderPartial('footerLogo', { company: 'Company1'}) }}
        </div>
    </div>

    <div class="container text-center d-none d-lg-block">
        <div class="row justify-content-center">
            {{ renderPartial('footerLinkList') }}
            {{ renderPartial('footerLinkList') }}
            {{ renderPartial('footerLinkList') }}
            {{ renderPartial('footerLinkList') }}
            {{ renderPartial('footerLinkList') }}
        </div>
    </div>
</section>

<section class="block bg-light">
    {{ renderPartial('footerDisclaimer') }}
</section>