<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">VV Skunk</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{ renderPartial('navItem', { title: 'Item 1' }) }}
            {{ renderPartial('navItem', { title: 'Item 2' }) }}
            {{ renderPartial('navItem', { title: 'Item 3' }) }}
            {{ renderPartial('navItem', { title: 'Item 4' }) }}
            {{ renderPartial('navItem', { title: 'Item 5' }) }}
        </ul>
        <form class="form-inline md-form form-sm mt-0">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Zoeken" aria-label="Search">
        </form>
    </div>
</nav>