{%- from "partials.njk" import renderPartial -%}

<section class="block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- BELOW IS RICH TEXT -->
                <h2>Dit is de titel</h2>
                <p>Never in all their history have men been able truly to conceive of the world as one: a single sphere,
                    a globe, having
                    the qualities of a globe, a round earth in which all the directions eventually meet, in which there
                    is no center because
                    every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth,
                    if free men make
                    it, will be truly round: a globe in practice, not in theory.</p>
                <img src="/images/wedstrijd-foto-h2.png" class="img-fluid" alt="Responsive image">

                <h2>The Final Frontier</h2>
                <p>There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it
                    is a task to
                    occupy the generations. And no matter how much progress one makes, there is always the thrill of
                    just beginning.</p>
                <!-- ABOVE IS RICH TEXT -->
            </div>
        </div>
    </div>
</section>