{%- from "partials.njk" import renderPartial -%}

<div class="col-md-2 col-4 mt-4">
    <h5>Links 1</h5>
    <ul class="list-unstyled">
        {{ renderPartial('footerLinkListItem') }}
        {{ renderPartial('footerLinkListItem') }}
        {{ renderPartial('footerLinkListItem') }}
        {{ renderPartial('footerLinkListItem') }}
        {{ renderPartial('footerLinkListItem') }}
        {{ renderPartial('footerLinkListItem') }}
        {{ renderPartial('footerLinkListItem') }}
    </ul>
</div>