<div class="col-md-6 col-sm-12">
    <div class="card m-2">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="https://via.placeholder.com/200x200" class="card-img-top m-2" alt="Card image">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h4 class="card-title">Speler naam</h4>
                            <p class="card-text mb-0">Lengte: 1,70</p>
                            <p class="card-text mb-0">Positie: Midden</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>